AccessModifierOffset: -4
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
AlwaysBreakTemplateDeclarations: true
BasedOnStyle: LLVM
BreakAfterAttributes: Always
ColumnLimit: 160
FixNamespaceComments: false
IndentAccessModifiers: false
IndentWidth: 4
InsertNewlineAtEOF: true
Language: Cpp
PointerAlignment: Left
