AccessModifierOffset: -4
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Inline
AlwaysBreakTemplateDeclarations: true
BasedOnStyle: LLVM
BreakAfterAttributes: Leave
BreakConstructorInitializers: BeforeComma
ColumnLimit: 0
FixNamespaceComments: false
IndentAccessModifiers: false
IndentWidth: 4
InsertBraces: true
InsertNewlineAtEOF: true
Language: Cpp
PackConstructorInitializers: NextLine
PointerAlignment: Left
