AccessModifierOffset: -4
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
AlwaysBreakTemplateDeclarations: true
BasedOnStyle: LLVM
BreakAfterAttributes: Leave
ColumnLimit: 0
FixNamespaceComments: false
IndentAccessModifiers: false
IndentWidth: 4
InsertBraces: true
InsertNewlineAtEOF: true
Language: Cpp
PackConstructorInitializers: NextLine
PointerAlignment: Left
